[Unit]
Description=consul_exporter for delivering metrics for Prometheus
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ consul_exporter.service_user }}
Group={{ consul_exporter.service_group }}
ExecStart={{ consul_exporter.bin_dir }}/consul_exporter --consul.server=http://{{ consul_exporter.consul_adress }} \
{% if consul_exporter.options is defined -%}
{% for options in consul_exporter.options -%}
--{{ options+" " }}
{%- endfor %}
{%- endif %}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
